{% extends 'base.html' %}

{% block content %}

{% if agreement_data %}

<main class="main">
    <section class="contacts">
        <div class="contacts__inner container">
            {% for ag in agreement_data %}

            <div class="section-header">
                <div class="section-header__subtitle title">{{ ag.title }}</div>
            </div>

            {% if ag.content %}

            <div class="contacts__text text">{{ ag.content|linebreaksbr }}</div>

            {% endif %}
            {% endfor %}

        </div>
    </section>
</main>



{% endif %}

{% endblock content %}
