<section class="achievements">
        <div class="achievements__inner container">
          <div class="section-header">
            <h2 class="section-header__title text text--main-2-light">Воплощаем идеи в реальность</h2>
            <div class="section-header__subtitle title">Наши достижения в цифрах</div>
          </div>
          <div class="achievements__body">
            <article class="achievements__achievement">
              <div class="achievements__achievement-number">1500</div>
              <div class="achievements__achievement-text text text--regular">Выполненных проектов</div>
            </article>
            <article class="achievements__achievement">
              <div class="achievements__achievement-number">15</div>
              <div class="achievements__achievement-text text text--regular">Дней средний срок реализации проекта</div>
            </article>
            <article class="achievements__achievement">
              <div class="achievements__achievement-number">98%</div>
              <div class="achievements__achievement-text text text--regular">Клиентов возвращаются с новыми задачами</div>
            </article>
          </div>
        </div>
      </section>