<section class="achievements">
  <div class="achievements__inner container">
    <div class="section-header">
      <h2 class="section-header__title text text--main-2-light">Воплощаем идеи в реальность</h2>
      <div class="section-header__subtitle title">Наши достижения в цифрах</div>
    </div>
    <div class="achievements__body">
      <article class="achievements__achievement">
        <div class="achievements__achievement-number">2970</div>
        <div class="achievements__achievement-text text text--regular"><b>ПРОЕКТОВ — ОТ ИДЕИ ДО РЕЗУЛЬТАТА</b> <br> Единичные детали или серийные партии — за плечами тысячи задач, и каждая решена с фокусом на результат.</div>
      </article>
      <article class="achievements__achievement">
        <div class="achievements__achievement-number">5 дней</div>
        <div class="achievements__achievement-text text text--regular"><b>СРЕДНИЙ СРОК ИЗГОТОВЛЕНИЯ</b> <br> Оперативно берёмся за задачу, соблюдаем дедлайны, экономим ваше время без потери в качестве.</div>
      </article>
      <article class="achievements__achievement">
        <div class="achievements__achievement-number">100%</div>
        <div class="achievements__achievement-text text text--regular"><b>ПРОЗРАЧНОСТИ НА КАЖДОМ ЭТАПЕ</b> <br> Честные сроки, понятные расчёты, открытая коммуникация. Гарантируем качественный результат. </div>
      </article>
    </div>
  </div>
</section>
