<section class="advantages">
  <div class="advantages__inner container">
    <div class="section-header">
      <h2 class="section-header__title text text--main-2-light">Почему выбирают 3D мастерскую CICADA?</h2>
      <div class="section-header__subtitle title">преимущества работать с нами</div>
    </div>
    <div class="advantages__body">
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Более 30 современных принтеров SLA и FDM</h3>
        <div class="advantages__advantage-text text text--regular">Чтобы создавать детали с высокой точностью, сложной геометрией и безупречной обработкой поверхности</div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Работа с широким спектром материалов</h3>
        <div class="advantages__advantage-text text text--regular">Чтобы создавать детали с высокой точностью, сложной геометрией и безупречной обработкой поверхности</div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">От 3D-сканирования до постобработки</h3>
        <div class="advantages__advantage-text text text--regular">Чтобы создавать детали с высокой точностью, сложной геометрией и безупречной обработкой поверхности</div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Производства без потери качества</h3>
        <div class="advantages__advantage-text text text--regular">Чтобы создавать детали с высокой точностью, сложной геометрией и безупречной обработкой поверхности</div>
      </article>
    </div>
  </div>
</section>
