<section class="advantages">
  <div class="advantages__inner container">
    <div class="section-header">
      <h2 class="section-header__title text text--main-2-light">Почему выбирают 3D мастерскую MOSPRINT?</h2>
      <div class="section-header__subtitle title">преимущества работать с нами</div>
    </div>
    <div class="advantages__body">
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Современные технологии SLA и FDM</h3>
        <div class="advantages__advantage-text text text--regular">Мы используем надёжные и точные технологии для печати изделий любой сложности — от прототипов до функциональных деталей.</div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Работаем с любыми материалами</h3>
        <div class="advantages__advantage-text text text--regular">Пластики, композиты, смолы — подбираем оптимальный материал под ваш проект и его условия эксплуатации.</div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Качество без компромиссов</h3>
        <div class="advantages__advantage-text text text--regular">Каждое изделие проходит проверку: точность, чистота геометрии и безупречная обработка поверхности — стандарт, а не бонус.
        </div>
      </article>
      <article class="advantages__advantage">
        <h3 class="advantages__advantage-title text text--big">Осуществляем доставку по всей стране</h3>
        <div class="advantages__advantage-text text text--regular">Отправляем заказы по России через любую службу доставки.  Выбираем оптимальный способ — по срокам, стоимости и удобству получения.</div>
      </article>
    </div>
  </div>
</section>
