<section class="full-cycle">
    <div class="full-cycle__inner container">
        <div class="full-cycle__body">

            {% if title_data %}

            {% for t in title_data %}
            {% if t.title_image %}

            <img src="{{ t.title_image.url }}" alt="Наши продукты" decoding="async" loading="lazy" class="full-cycle__image">

            {% endif %}
            {% endfor %}

            {% else %}

            <img src="/static/assets/images/cooperation/title_cooperation_default.jpg" alt="Наши продукты" decoding="async" loading="lazy" class="full-cycle__image">

            {% endif %}

            <h1 class="full-cycle__title title">Полный цикл 3D производства для вашего бизнеса</h1>
            <div class="full-cycle__footer">
                <div class="full-cycle__description text">От 3D-моделирования до постобработки и росписи — мы реализуем весь цикл производства внутри компании.<br>
                    Применяем современные технологии SLA и FDM, обеспечивая точную и надёжную печать с любыми материалами.<br>
                    Вы формулируете задачу — мы берём на себя реализацию и выдаём готовый результат.
                </div>

                {% include 'contacts/preview_contacts.html' %}

            </div>
        </div>
    </div>
</section>
