<section class="full-cycle">
    <div class="full-cycle__inner container">
        <div class="full-cycle__body">
            <img srcset="/static/assets/images/cooperation/full_cycle-320x147.jpg 320w, /static/assets/images/cooperation/full_cycle-400x184.jpg 400w, /static/assets/images/cooperation/full_cycle-640x294.jpg 640w, /static/assets/images/cooperation/full_cycle-800x368.jpg 800w, /static/assets/images/cooperation/full_cycle-1024x471.jpg 1024w, /static/assets/images/cooperation/full_cycle-1280x589.jpg 1280w, /static/assets/images/cooperation/full_cycle-1300x600.jpg 1300w" src="/static/assets/images/cooperation/full_cycle-1300x600.jpg" sizes="(min-width: 1300px) 1300px, 100vw" width="1300" height="600" alt="Наши продукты" decoding="async" loading="lazy" class="full-cycle__image">
            <h1 class="full-cycle__title title">Полный цикл 3D производства для вашего бизнеса</h1>
            <div class="full-cycle__footer">
                <div class="full-cycle__description text">Сканирование, печать, моделирование, роспись и постобработка. Более 15 принтеров, современные технологии SLA и FDM, работа с любыми материалами</div>

                {% include 'index/preview_contacts.html' %}

            </div>
        </div>
    </div>
</section>
