{% load static %}

<section class="preview">
    <div class="preview__inner container">
        <h1 class="preview__title title title--big">От идеи до 3D печати — с нами это легко реализовать</h1>
        <div class="preview__subtext text">
            Наши изделия — это не просто объекты, а результат точности и дизайнерского подхода. Продукция радует глаз, выдерживает испытания временем и служит вам долго.
        </div>
        <div class="preview__description text">
            <p class="preview__description-text">Изготавливаем фигуры, сувениры, прототипы, детали, игрушки и нестандартные объекты. SLA и FDM, внимание к мелочам и премиальные материалы — всё для идеального результата.</p>

            {% include 'contacts/preview_contacts.html' %}

        </div>

        {% if video_data %}

            {% for v in video_data %}
            {% if v.video %}

            <video preload="auto" loop="loop" width="100%" height="100%" autoplay muted>
                <source src="{{ v.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            {% endif %}
            {% endfor %}

        {% else %}

        <video preload="auto" loop="loop" width="100%" height="100%" autoplay muted>
            <source src="{% static 'assets/video/default_title_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        {% endif %}

    </div>
</section>
