{% load service_tags %}
{% load cache %}

<section class="print">
    <div class="print__inner container">
        <div class="section-header">
            <h2 class="section-header__title text text--main-2-light">Наши работы</h2>


            {% get_random_services_for_title_2 as products %}


            {% if products %}
            {% for p in products %}

            {% if p.service %}

            <div class="section-header__subtitle title">{{ p.service }}</div>

            {% endif %}
            {% endfor %}
            {% endif %}

        </div>
        <swiper-container class="print__slider" slides-per-view="1.4" space-between="10" centered-slides="true">


            {% get_random_services_2_9 as products %}


            {% if products %}
            {% for p in products %}

            <swiper-slide>
                <a href="{% url 'services:services_item' p.service.slug %}" class="print__link">

                    {% if p.title_image %}

                    <img src="{{ p.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="print__image">

                    {% endif %}
                </a>
            </swiper-slide>

            {% endfor %}
            {% endif %}

        </swiper-container>
        <ul class="print__list">


            {% get_random_services_2_9 as products %}


            {% if products %}
            {% for p in products %}

            <li class="print__item">
                <a href="{% url 'services:services_item' p.service.slug %}" class="print__link">

                    {% if p.title_image %}

                    <img src="{{ p.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="print__image">

                    {% endif %}

                </a>
            </li>

            {% endfor %}
            {% endif %}

            <li class="print__item">
            </li>
        </ul>
    </div>
</section>
