{% extends 'base.html' %}
{% load cache %}
{% load tag_tags %}


{% block content %}

<main class="main">
    <section class="catalog">
        <div class="catalog__inner container">
            <div class="catalog__header">
                <a class="catalog__title title" href="{% url 'tags:tags_list' %}">#Тэги</a>
                <div class="catalog__text text hidden-mobile">Найдите всё, что вас интересует по #Тэгу </div>
            </div>


            {% include 'tags/tags_list.html' %}


            <div class="catalog__products-body">


                {% for p in products_data %}


                <article class="catalog__product product">
                    <a href="{{ p.get_absolute_url }}" class="product__link"></a>

                    <div class="product__preview">

                        {% if p.title_image %}
                        {% include 'contacts/product_contacts_list.html' %}

                        <img src="{{ p.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="product__image">

                        {% endif %}

                    </div>
                    <div class="product__footer">
                        <h3 class="product__title text text--regular">{{ p.title }}</h3>

                        <div class="product__price text text--regular">{{ p.price }}₽</div>

                        {% for t in p.tags_p.all %}

                        <a class="product__price text text--regular">#{{ t.title }}</a>

                        {% endfor %}

                    </div>
                </article>

                {% endfor %}

                {% for a in articles_data %}

                <article class="catalog__product product">
                    <a href="{{ a.get_absolute_url }}" class="product__link"></a>

                    <div class="product__preview">

                        {% if a.title_image %}

                        {% include 'contacts/product_contacts_list.html' %}

                        <img src="{{ a.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="product__image">

                        {% endif %}

                    </div>
                    <div class="product__footer">
                        <h3 class="product__title text text--regular">{{ a.title }}</h3>



                        {% for t in a.tags_a.all %}

                        <a class="product__price text text--regular">#{{ t.title }}</a>

                        {% endfor %}

                    </div>
                </article>

                {% endfor %}

                {% for s in services_data %}

                <article class="catalog__product product">
                    <a href="{% url 'services:services_item' s.service.slug %}" class="product__link"></a>

                    <div class="product__preview">

                        {% if s.title_image %}

                        {% include 'contacts/product_contacts_list.html' %}

                        <img src="{{ s.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="product__image">

                        {% endif %}

                    </div>
                    <div class="product__footer">
                        <h3 class="product__title text text--regular">{{ s.title }}</h3>

                        {% if s.price %}

                        <div class="product__price text text--regular">{{ s.price }}₽</div>

                        {% endif %}


                        {% for t in s.tags_s.all %}

                        <a class="product__price text text--regular">#{{ t.title }}</a>

                        {% endfor %}

                    </div>
                </article>

                {% endfor %}

            </div>
        </div>
    </section>
</main>

{% endblock content %}
