{% extends 'base.html' %}
{% load tag_tags %}

{% block content %}

<main class="main">
    <section class="catalog">
        <div class="catalog__inner container">
            <div class="catalog__header">
                <a class="catalog__title title" href="{% url 'tags:tags_list' %}">#Тэги</a>
                <div class="catalog__text text hidden-mobile">Найдите всё, что вас интересует по #Тэгу </div>
            </div>

            {% include 'tags/tags_list.html' %}

        </div>
    </section>
</main>

{% endblock content %}
