<section class="articles">
    <div class="articles__inner container">
        <h1 class="articles__title title">Статьи</h1>
        <div class="articles__body">

            {% for a in articles_list %}
            {% if a.is_published %}

            <article class="article">
                <a class="article__link" href="{{ a.get_absolute_url }}">
                    <h3 class="article__title text text--big">{{ a.title }}</h3>

                    {% if a.title_image %}

                    <img src="{{ a.title_image.url }}" alt="Статья" decoding="async" loading="lazy" class="article__image">

                    {% endif %}

                    <div class="article__description text text--regular">{{ a.content|linebreaksbr }}</div>
                </a>
            </article>

            {% endif %}
            {% endfor %}

        </div>
    </div>
</section>