<!doctype html>
{% load static %}
{% load cache %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cicada</title>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js" defer="true"></script>
  <script type="text/javascript" src="{% static '/main.js' %}"></script>



  <link rel="stylesheet" href="{% static '/assets/bundle.css' %}">
  <link rel="shortcut icon" href="{% static '/assets/images/favicon.ico' %}">
  <link type="text/css" rel="stylesheet" href="{% static '/lightgallery/css/lightgallery.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static '/lightgallery/css/lightgallery-bundle.css' %}" />


</head>

<body>
<script src="{% static '/lightgallery/lightgallery.umd.js' %}"></script>
<script src="{% static '/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js' %}"></script>
<script src="{% static '/lightgallery/plugins/zoom/lg-zoom.umd.js' %}"></script>

{% include 'header.html' %}

<main>

  {% block content %}
  {% endblock content %}
  <br>
  <br>

  {% include 'contacts.html' %}

</main>

{% include 'footer.html' %}

</body>



</html>
