{% load static %}

<header class="header">
  <div class="header__inner container">
    <a class="header__logo logo" href="/" aria-label="go to home page">
      <img srcset="/static/assets/images/mosprint_logo.jpg 129w" src="/static/assets/images/mosprint_logo.jpg" sizes="(min-width: 129px) 129px, 100vw" width="129" height="39" alt="mosprint logo" decoding="async" loading="lazy" class="logo__image" title="to home page">
    </a>
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="link" href="{% url 'services:services_list' %}">Услуги</a>
        </li>
        <li class="header__menu-item">
          <a class="link" href="{% url 'portfolio:portfolio' %}">Портфолио</a>
        </li>
        <li class="header__menu-item">
          <a class="link" href="{% url 'products:products_list' %}" >Каталог</a>
        </li>
        <li class="header__menu-item">
          <a class="link" href="{% url 'src:contacts' %}" >Контакты</a>
        </li>
        <li class="header__menu-item">
          <a class="link" href="{% url 'src:cooperation' %}">Сотрудничество</a>
        </li>
        <li class="header__menu-item visible-mobile">
          <button class="header__burger-button burger-button" data-burger-button="true">
            <div class="burger-button__center">
              <div></div>
            </div>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="header__burger-menu visible-mobile" data-overlay-menu="true">
    <ul class="header__burger-menu-list">
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'services:services_list' %}">Услуги</a>
      </li>
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'portfolio:portfolio' %}">Портфолио</a>
      </li>
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'products:products_list' %}" >Каталог</a>
      </li>
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'tags:tags_list' %}" >Тэги</a>
      </li>
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'src:contacts' %}" >Контакты</a>
      </li>
      <li class="header__burger-menu-item">
        <a class="link" href="{% url 'src:cooperation' %}" >Сотрудничество</a>
      </li>
    </ul>

    {% include 'phone_contacts.html' %}

  </nav>
</header>
