{% extends 'base.html' %}
{% load product_tags %}
{% load tag_tags %}

{% block content %}

<main class="main">
    <section class="full-product">
        <div class="full-product__inner container">

            {% if item.in_catalog %}

            <h1 class="full-product__title title">{{ item.title }}</h1>
            <div class="full-product__body">
                <div class="full-product__preview">
                    <div class="full-product__slider-container">
                        <swiper-container class="full-product__slider" init="false">

                            {% if item.title_image %}

                            <swiper-slide>
                                <img src="{{ item.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}
                            {% if item.image1 %}

                            <swiper-slide>
                                <img src="{{ item.image1.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}
                            {% if item.image2 %}

                            <swiper-slide>
                                <img src="{{ item.image2.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}
                            {% if item.image3 %}

                            <swiper-slide>
                                <img src="{{ item.image3.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}
                            {% if item.image4 %}

                            <swiper-slide>
                                <img src="{{ item.image4.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}
                            {% if item.image5 %}

                            <swiper-slide>
                                <img src="{{ item.image5.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image">
                            </swiper-slide>

                            {% endif %}

                        </swiper-container>
                        <button class="full-product__navigation-button full-product__navigation-button--prev">
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 13L1 7L7 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <button class="full-product__navigation-button full-product__navigation-button--next">
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                    <swiper-container class="full-product__thumbs" init="false">

                        {% if item.title_image %}
                        <swiper-slide>
                            <img src="{{ item.title_image.url }}"  alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}
                        {% if item.image1 %}

                        <swiper-slide>
                            <img src="{{ item.image1.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}
                        {% if item.image2 %}

                        <swiper-slide>
                            <img src="{{ item.image2.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}
                        {% if item.image3 %}

                        <swiper-slide>
                            <img src="{{ item.image3.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}
                        {% if item.image4 %}

                        <swiper-slide>
                            <img src="{{ item.image4.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}
                        {% if item.image5 %}

                        <swiper-slide>
                            <img src="{{ item.image5.url }}" alt="Продукт" decoding="async" loading="lazy" class="full-product__image is-thumb">
                        </swiper-slide>

                        {% endif %}

                    </swiper-container>
                </div>
                <div class="full-product__content">
                    <div class="full-product__price text text--very-big">{{ item.price }} {{ item.price_choice }}</div>

                    {% include 'contacts/product_contacts.html' %}

                    <div class="full-product__block is-description">
                        <div class="full-product__block-label text text--main-2-light">Описание:</div>
                        <div class="full-product__block full-product__description text">
                            <p>{{ item.content|linebreaksbr }}</p>
                        </div>

                        {% if item.size %}
                        <div class="full-product__block-label text text--main-2-light">Размеры:</div>
                        <div class="full-product__block full-product__description text">
                            <p>{{ item.size }}</p>
                        </div>

                        {% endif %}

                    </div>
                    <div class="full-product__block">
                        <div class="full-product__block-label text text--main-2-light">Оплата и доставка</div>
                        <div class="full-product__block-text text">
                            <p>Мы работаем с надёжной службой доставки CDEK, чтобы ваш заказ прибыл быстро и в целости. Либо вы можете забрать товар из нашей мастерской. Оплата осуществляется удобным переводом на карту после согласования всех деталей. Оформляйте заказ, и мы позаботимся о всём остальном!</p>
                        </div>

                        {% if item.tags_p.all %}

                        <br>
                        <div class="full-product__block-label text text--main-2-light">Тэги</div>
                        <br>
                        <ul class="catalog__filters">

                            {% for t in item.tags_p.all %}
                            {% if t.tags_p %}

                            <li class="catalog__filter">
                                <a class="catalog__link link" href="{{ t.get_absolute_url }}" >#{{ t.title }}</a>
                            </li>

                            {% endif %}
                            {% endfor %}

                        </ul>

                        {% endif %}

                    </div>
                </div>
            </div>

            {% include 'products/see_also_products.html' %}

            {% endif %}

        </div>
    </section>
</main>

{% endblock content %}
