{% extends 'base.html' %}

{% block content %}

<main class="main">
    <section class="service-products">
        <div class="service-products__inner container">

            {% for s in item %}

            <h4 class="service-product__title text text--big">{{ s.service }}</h4>
            <div class="service-products__body">
                <article class="service-product">
                    <div class="service-product__container">

                        {% if s.title_image %}

                        <img src="{{ s.title_image.url }}" alt="Продукт" decoding="async" loading="lazy" class="service-product__image">

                        {% endif %}
                    </div>
                    <div class="service-product__body">
                        <h3 class="service-product__title text text--big">{{ s.title }}</h3>

                        {% if s.price %}

                        <div class="service-product__price text text--big">от {{s.price}} {{s.price_choice}}</div>

                        {% endif %}

                        <div class="service-product__description text text--regular">
                            <p>{{ s.content|linebreaksbr }}</p>

                            {% if s.tags_s.all %}

                            <br>
                            <div class="full-product__block-label text text--main-2-light">Тэги</div>
                            <br>
                            <ul class="catalog__filters">

                                {% for t in s.tags_s.all %}
                                {% if t.tags_s %}

                                <li class="catalog__filter">
                                    <a class="catalog__link link" href="{{ t.get_absolute_url }}" >#{{ t.title }}</a>
                                </li>

                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>

                        {% if s.show_contacts %}

                        {% include 'services/services_contacts_item.html' %}

                        {% endif %}

                    </div>

                    {% endif %}

                </article>

                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'services/services_list.html' %}

</main>

{% endblock content %}
